   
#choropleth_map1 {
	
	padding-bottom: 50px;
	/*height: 1000px;
	width: 800px;*/
}

#donut {
	top:30px;
	bottom: 100px; 
	left: 100px;
	right: 100px;
	padding-bottom: 50px;
	
	/*height: 1000px;
	width: 800px;*/
	
}

#scatter_plot {
	right: 8px;
	width: "container";
	padding-bottom: 50px;
	/*height: 1000px;
	width: 800px;*/
}

#heatmap {
	 
	left: 100px;
	right: 100px;
	/*height: 1000px;
	width: 800px;*/
}